#videos {
    display: grid; //cuadricula
    grid-template-columns: 1fr 1fr; //crea dos columnas de igual tamaño
    gap: 2em; //espacio de 2 unidades em entre filaes y columnas del grid
    margin: 20px; //margen externo de 20 pixeles  alrededor del contenedor
}
.video-player {
    background-color: black;
    width: 100%;
    height: 300px;
}
